input {
  display: block;
}

#bottom-bar {
  display: flex;
  background-color: #ddd;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 0.5em;
  margin-top: 0.5em;
}

#plugin-options {
  flex: 1;
  padding: 0.5em;
}

#button-apply {
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 999;
}

#colors-list {
  overflow-y: overlay;
  flex: 1;
}

.container {
  padding: 1em;
  max-height: fit-content;
  min-height: 500px;
}

.content {
  display: flex;
  height: 420px;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.gap-5 {
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.color-picker {
  min-width: 120px;
}

.input-field {
  border: solid 1px #ddd;
  border-radius: 40px;
}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: solid 2px #ddd;
  border-radius: 100px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 116px;
  height: 116px;
  border: none;
}

.input-color-label {
  cursor: pointer;
  text-decoration: underline;
  color: #aaa;
  font-size: smaller;
}

.view-tint-container {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.view-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}

.input-tint-label {
  text-decoration: underline;
  color: #aaa;
  font-size: x-small;
  align-self: center;
}
.input-tint-name-label {
  font-weight: 600;
  color: #2c2c2c;
  font-size: smaller;
  align-self: center;
}

.list {
  padding-inline-start: 10px;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 45px;
}

.icon--disabled {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(117deg)
    brightness(10%) contrast(10%);
}
